APP_NAME=EMS

NODE_ENV=development

PORT=5000

CLIENT_URL=http://localhost:5173

MONGODB_URI=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=1h

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=